[defaults]

# Inventory location

inventory = ./inventories/hosts.ini

# Disable SSH host key checking (useful for lab/dev)

host_key_checking = False

# Improve output readability

stdout_callback = yaml
deprecation_warnings = False

# Define multiple role paths (searched in order)

roles_path = ./benchmarks/cis/rhel9/roles:./benchmarks/general/fedora/roles:./roles

# Retry files clutter directories; disable them

retry_files_enabled = False

# Speed up SSH connections

forks = 10
timeout = 30

[privilege_escalation]

become = True
become_method = sudo
become_ask_pass = False
